<h1 class="page-header">Comments</h1>
<%= link_to "Create new commment", new_backoffice_comment_path %>


<% @comments.each do |comment| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= comment.topic.title %>
    </div>
    <%= link_to backoffice_comment_path(comment), class: "btn btn-danger btn-circle pull-right", method: :delete, data: { confirm: "Are you sure?" } do %>
      <i class="fa fa-times"></i>
    <% end %>
    <%= link_to edit_backoffice_comment_path(comment), class: "btn btn-primary btn-circle pull-right" do %>
      <i class="fa fa-edit"></i>
    <% end %>
    <div class="panel-body">
      <p><%= comment.text %></p>
    </div>
  </div>
<% end %>
